html {
  scroll-behavior: smooth;
}

#root {
  font-family: "Hoefler Text";
}

body {
  background-color: rgb(179,179,179);
  background: radial-gradient(circle, rgba(179,179,179,1) 74%, rgba(92,92,92,1) 100%);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            
}

#posts-index {
  text-align: center;
}

#posts-new {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

.posts {
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

#posts-index {
  padding-top: 10px;
}

#signup {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#login {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#logoutLink {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-control {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#body-input {
  height: 100px;
}

.postShow {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#showDelete {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.card-img-top {
  height: 200px;
  width: 200px;
}

#logoutLink {
  text-decoration: inherit;
  color: grey;
}

#logoutLink:hover {
  text-decoration: inherit;
  color: rgb(65, 65, 65);
}

#separatePost {
  text-align: center;
}